.card {
    display: flex;
    flex-direction: column;
    position:relative;
    width:20%;
    margin-top:20px;
    margin-right:2px;
    height:500px;
}
.card button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 2%;
    right: 5%;
    background: none;
    border: none;
} 
.card button:focus { 
    outline: none; 
}
.card img {
    width:100%;
    height: 500px;
}
.card button img{
    width:40px;
    height:40px;
}

.card h3{
    color:#1f1f1f;
}
.card p{
    color: #ffff;
}