.App {
  text-align: center;
  padding:10px;
  background-color: #1f1f1f;
}

.App-header{
  display: flex;
  width:100%;
  background: url("../../images/popcorn.jpg");
  background-size: cover;
}

h1 {
  font-family: 'Limelight', cursive;
  font-size: 3rem;
  color:red;
}

.header-box{
  width:70%;
  display: flex;
}

.nav-box{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card button{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: 20%;
  right: 5%;
}

.nav{
    font-family: 'Limelight';
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.nav:hover{
  border-bottom: 4px solid red;
}

.nav-box button{
  font-size: 30px;
  background: none;
  font-family: 'Limelight';
  font-size: 30px;
  text-decoration: none;
  color: white;
  outline:none;
}

